h1, 
h2, 
h3, 
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;  

}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

address {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}




html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
} 


/*скидаємо стилі від браузера*/
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* скидаємо підкреслення посилань */
.link {
    text-decoration: none;
}



:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-bg-color: #E5E5E5;
    --primary-white-color: #FFFFFF;
    --color-grey-eeee: #EEEEEE;
    --color-black-000: #000000;
    --color-whitegrey-f5f4: #F5F4FA;
    --color-blacklight-2f30: #2F303A;
    --color-white-rich: #ECECEC;
    --color-hover-button: #188CE8;
    --color-white-transparent: rgba(255, 255, 255, 0.6);
    --primary-font: 'Roboto','Raleway',sans-serif;
    --primary-font-size: 14px;
    
}


body {
 
    background-color: var(--primary-white-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;

    
}

/* ===================components================== */


.button-primary {
    
    border: none;
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;


    cursor: pointer;
    
    letter-spacing: 0.06em;
    
}

.button-primary:hover,
.button-primary:focus {
    background-color: var(--color-hover-button);
}

.button-secondary {
    border: none;
    color: var(--title-text-color);
    background-color: var(--color-whitegrey-f5f4);
    font-family: var(--primary-font); 
    font-weight: 500;
    font-size: 16px;
    padding: 6px 22px;
    line-height: 1.62;
                                          
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* заголовки і підзаголовки в секціях*/
.subtitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    
    margin-top: 0;
    margin-bottom: 50px; 
}

/* клас, що приховує візуально*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* клас, що підсвічує активну сторінку */
.menu-link.current {
    color: var(--accent-text-color);
}

.section-pad {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1600px; 
    margin: 0 auto;

}


/* ===================/components================== */


/* ===================header ========================*/


/* задаємо стилі логотипу */
.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    margin-right: 93px;
    align-items: center;
}

.logo-accent {
    color: var(--accent-text-color);
}

.logo-accentD {
    color: var(--primary-white-color);
}

/*стилі навігації*/

 .menu {
    display: flex;
    align-items: center;
    
} 


.menu-link {
    
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    

}


 .menu li:not(:last-child) {
    margin-right: 50px;

} 
 .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
} 


.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header-second {
    padding-top: 24px;
    padding-bottom: 25px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-white-rich);
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu-link:hover, 
.menu-link:focus {
    color: var(--accent-text-color);
}

.cont-nav a {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
}

.cont-nav li:not(:last-child) {
    margin-right: 50px;
}

.cont-nav {
    display: flex;  
    margin-left: auto;

    align-items: center;
      align-self: center;  
      justify-content: center;  
   
}

.cont-nav a:hover,
.cont-nav a:focus {
    color: var(--accent-text-color);
}


  .icon-cont {  
    margin-right: 10px;
    fill: currentColor;
    align-self: center;

}  



/* ===================/header ========================*/

/* ===================hero ========================*/

.hero {
    
    background-color: var(--color-blacklight-2f30);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

        height: 600px;
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url('../images/banner.jpg');
        
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: 50% 50%;

}


/* колір заголовка в рішеннях*/

.hero-title {
    margin-bottom: 30px;
    width: 696px;
    margin-right: auto;
    margin-left: auto;


/* background-color: wheat; */
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

/* ===================/hero ========================*/


/* ===================features ========================*/
 .features {
    padding-top: 94px;
    padding-bottom: 0;
     
} 

.features-list {
    display: flex;
    flex-wrap: wrap; 
    
}

.features-list .item {
    width: 270px;

}

.features-list li:not(:nth-child(4n)) {
    margin-right: 30px;
} 

.features-list li:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}


.features-minititle{
    color: var(--title-text-color);
    font-size: var(--primary-font-size);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
   
    margin-top: 0;
    margin-bottom: 10px;
}

.block-features {
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
}


.thumb {
    display: flex;
    background-color: var(--color-whitegrey-f5f4);
    border-radius: 4px;
    height: 120px;
     width: 270px; 
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

}

.thumb-icon {
    width: 70px; 
    height: 70px;
}


/* ===================/features ========================*/


/* ===================work ========================*/

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
} 

.work-item {
    flex-basis: calc((100% - 60px) / 3);

}

/* ===================/work ========================*/

/* ===================team ========================*/
.team {
    background-color: var(--color-whitegrey-f5f4);

}

.team-list {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    
}


.team-minititle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);

    margin-bottom: 10px;
    
}

.team-description {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
    

}

 .team-card {
    background: var(--primary-white-color); 
    flex-basis: calc((100% - 90px) / 4);

    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card-text {
    padding-top: 30px;
    padding-bottom: 30px;
    

}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #fff;
    fill: #AFB1B8; 
  
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-text-color);
    fill: var(--primary-white-color);
}

/*  
.social {
background-color: #fff;
    color: #AFB1B8;
} */

/* .social-list-icon {
    fill: currentColor;
} */
/* ===================/team ========================*/


/* ===================/clients========================*/

.clients-list-item {
    display: flex;
    margin-right: 30px;
    
}

.clients-list-item li:not(:last-child) {
    margin-right: 0;
}

 .clients-list-icon {
    margin: 0;
    align-items: center;

} 


.clients-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
       
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

}

.clients-list-link:hover,
.clients-list-link:focus {
    border: 1px solid #2196F3;
    fill: var(--accent-text-color);

}

.clients-list {
    display: flex;
     
}

/* ===================/clients========================*/


/* ===================footer========================*/

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer {
    background-color: var(--color-blacklight-2f30);
    padding-top: 60px;
    padding-bottom: 60px;
    
}


.footer-list {
    line-height: 1.71;
}

.footer-list li:not(:last-child) {
    margin-bottom: 9px;
}


 .footer-cont {
    font-style: normal;
    margin-top: 20px;
    
}

 .footer-link {

    font-style: normal;
    line-height: 1.71;
    color: var(--color-white-transparent);
}

 .footer-alink {
    text-decoration: none;
    font-style: normal;
    color: var(--primary-white-color);
 }


.list .footer-alink:hover,
.list .footer-alink:focus{
    color: var(--accent-text-color);
}

.list .footer-link:hover,
.list .footer-link:focus {
    color: var(--accent-text-color);
}

.footer-follow {
    /* display: flex; */
    margin-left: 156px;
}

.footer-follow-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.footer-follow-text {
    display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;

        margin-bottom: 20px;
      
}

.footer-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color); 
    
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: var(--accent-text-color);
}

.footer-cont {
display: flex;

} 


 /* ===================/footer========================*/

/* ===================portfolio========================*/

.porfolio {
    padding-top: 94px;
    padding-bottom: 92px;
    padding-left: 0;
    padding-right: 0;

}


.filtr-list {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 50px;

}

.filtr-list li:not(:last-child) {
    margin-right: 8px;
}

.portfolio-card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


 .portfolio-card-list li:not(:nth-child(3n)) {
    margin-right: 30px;
}




.portfolio-card-list li {
    margin-bottom: 30px;
}  


.portfolio-text {
    border: 1px solid var(--color-grey-eeee);
    padding: 20px 24px;

}

 .portfolio-card {
    background: var(--primary-white-color);

 }

 .portfolio-subtitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
 }

 .portfolio-description {
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
    
 }

 .portfolio-card-link {
    display: block;
 }

 .portfolio-card-link:hover,
 .portfolio-card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }
 /* ===================/portfolio========================*/